<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all-examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>all-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ea.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>example-all-ones.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>example-emscript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>example-lod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>example-logic9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>example-mkv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>example-mp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>example-nsga2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>example-pole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>example-qhfc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>test-ann.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test-devo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test-ealib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test-ga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test-lod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test-mkv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test-mp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test-neuroevolution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>test-torus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>420EB2F0157D11540060CAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4210C5971886C81600A8FAFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>422B05B819641F6E00DA675B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBC7A157D0D440003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBD96157D0DFD0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBD9E157D0E0B0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBDA6157D0E2B0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBE56157D0FCC0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4243E7721894180F00431D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FA6B1892BB01004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FA791892BBB2004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FA851892BBBE004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FA911892BBC5004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FA9D1892BBCD004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FAA91892BBD5004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FAB51892BBDC004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FACC1892BC53004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256FADE1892BC7F004AB7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E0B166E43A000665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E1E166E44F300665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E2D166E45C700665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E3F166E591F00665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E4E166E5AB000665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42681E5B166E5EEA00665BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426A048817AFFD4C000F5151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426A049317AFFD58000F5151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720FB3163C0B1F008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4281FC3515CAE04600167444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4281FC4F15CAE0FB00167444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841C4715ADA3EB00AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841C5215ADA3F700AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841C6715ADA43900AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841C8315AFB14100AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841C9615AFB23200AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428B711418490E6600E3BB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428B711C18490E8F00E3BB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428B71FA184F664D00E3BB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428CB51518F81F0500E6093D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42B8BAB5188AB188003307CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C661361860DC07004476D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C661511860E008004476D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C661631860FBE5004476D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42CF4A66196A204D00CBA20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DF0679194530D100C9A364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E1921518771AE9009EF3A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F009D4183674DF001CB129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F00A0A18367568001CB129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F5BD231587668700EB6B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
