<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ea.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libea_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libfn_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>420EB2F0157D11540060CAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBC7A157D0D440003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBD96157D0DFD0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBD9E157D0E0B0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBDA6157D0E2B0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423CBE56157D0FCC0003A644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
