# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
.DS_Store
bin
libea/bin
tmp
DerivedData
build
dist
*.xcscheme
*.xcuserstate
*.plist
*.map
*.js
html/processing.min.js
html/emscript.html
