# Compiled Object files
*.slo
*.lo
*.o
*.pyc
*.egg-info

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.js
*.map

# ignore tmp/build directories
*.swp
*.Rhistory
*.Rcheck
tmp
bin
dist
DerivedData
var

# ignore os x / xcode metadata:
.DS_Store
.metadata
xcuserdata
xcshareddata
**/*.xccheckout

# ignore output from ealib:
checkpoint*
*.dat
