LIBEA_INCLUDE = ./libea/include
HEADER_SEARCH_PATHS = $(LIBEA_INCLUDE) $(HOME)/include /usr/local/include
OTHER_CPLUSPLUSFLAGS = -ftemplate-depth=255
OTHER_LDFLAGS = -lboost_iostreams -lboost_program_options -lboost_regex -lboost_serialization -lboost_signals
LIBRARY_SEARCH_PATHS = $(HOME)/lib /usr/local/lib
USE_HEADERMAP = NO
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_OPTIMIZATION_LEVEL = 0
WARNING_CFLAGS = -Wno-parentheses
SDKROOT = macosx
ONLY_ACTIVE_ARCH = YES
ARCHS = $(NATIVE_ARCH_ACTUAL)
ALWAYS_SEARCH_USER_PATHS = NO
PRODUCT_NAME = $(TARGET_NAME)
